@model IEnumerable<Sdt.Domain.Entities.Autor>

@{
    ViewData["Title"] = "Index";
}

<h1>Index With Paging</h1>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Photo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Beschreibung)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Geburtsdatum)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @*@Html.DisplayFor(modelItem => item.Photo)*@
                    @* 1. Version Klassik *@
                    @*<img width="120" src="@Url.Action("GetImage", "Autor", new { autorId = item.AutorId })" />*@

                    @* 2. Version DATAURL *@
                    @*@if (!string.IsNullOrEmpty(item.PhotoMimeType))
                    {
                        <img width="120" src="data:@item.PhotoMimeType;base64,@Convert.ToBase64String(item.Photo)" />
                    }
                    else
                    {
                        <img width="120" src="~/images/noimg.jpg" />
                    }*@
                    <imagedataurl image-mime-type="@item.PhotoMimeType" image="@item.Photo" alt-src="https://via.placeholder.com/150"></imagedataurl>

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Beschreibung)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Geburtsdatum)
                    @*@if (item.Geburtsdatum.HasValue)
                        {
                            @item.Geburtsdatum.Value.ToShortDateString()
                        }*@
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.AutorId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.AutorId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.AutorId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
